server/nodered/flows.json
[{"id":"28bf2e22.f4a252","type":"tab","label":"Home Door Flow","disabled":false,"info":""},{"id":"4569edf2.d7bc6c","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"e7e10234.1e2608","type":"http in","z":"28bf2e22.f4a252","name":"","url":"/home/gate","method":"put","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["b940789.9c2a008","3700ffb1.ab241","c604b29d.f88a6"]]},{"id":"503e8ee2.dbe75","type":"http response","z":"28bf2e22.f4a252","name":"","statusCode":"200","headers":{},"x":840,"y":220,"wires":[]},{"id":"b940789.9c2a008","type":"template","z":"28bf2e22.f4a252","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"gate\" :\n    {\n        \"status\": \"changed\"\n    }\n}","output":"json","x":680,"y":220,"wires":[["503e8ee2.dbe75"]]},{"id":"1c73094.212b2f7","type":"debug","z":"28bf2e22.f4a252","name":"Pin trigger debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"3700ffb1.ab241","type":"trigger","z":"28bf2e22.f4a252","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":260,"wires":[["1c73094.212b2f7","48763c92.bc029c"]]},{"id":"c604b29d.f88a6","type":"debug","z":"28bf2e22.f4a252","name":"Http debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"c448c123.656a1","type":"inject","z":"28bf2e22.f4a252","name":"Started!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":180,"y":340,"wires":[["91608e91.5389e8","48763c92.bc029c"]]},{"id":"91608e91.5389e8","type":"debug","z":"28bf2e22.f4a252","name":"Bootstrap gate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":380,"wires":[]},{"id":"3f44d86c.9fb6d8","type":"http in","z":"28bf2e22.f4a252","name":"","url":"/home/state","method":"get","upload":false,"swaggerDoc":"","x":200,"y":40,"wires":[["6a150407.3244f4"]]},{"id":"6a150407.3244f4","type":"template","z":"28bf2e22.f4a252","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"state\": \"ok\"\n}","output":"json","x":430,"y":40,"wires":[["40c7f9fc.4f77f"]]},{"id":"40c7f9fc.4f77f","type":"http response","z":"28bf2e22.f4a252","name":"","statusCode":"","headers":{},"x":690,"y":40,"wires":[]},{"id":"48763c92.bc029c","type":"rpi-gpio out","z":"28bf2e22.f4a252","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":680,"y":320,"wires":[]},{"id":"f4e7b92a.cf2608","type":"http in","z":"28bf2e22.f4a252","name":"","url":"/home/door","method":"put","upload":false,"swaggerDoc":"","x":180,"y":480,"wires":[["f14925e8.26e72","8bf9b347.fe58c","226a44a1.da6bf4"]]},{"id":"7fd9a9be.a1fa9","type":"http response","z":"28bf2e22.f4a252","name":"","statusCode":"200","headers":{},"x":840,"y":540,"wires":[]},{"id":"f14925e8.26e72","type":"template","z":"28bf2e22.f4a252","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"door\" :\n    {\n        \"status\": \"changed\"\n    }\n}","output":"json","x":680,"y":540,"wires":[["7fd9a9be.a1fa9"]]},{"id":"8def4446.ef626","type":"debug","z":"28bf2e22.f4a252","name":"Pin trigger debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":580,"wires":[]},{"id":"8bf9b347.fe58c","type":"trigger","z":"28bf2e22.f4a252","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":580,"wires":[["8def4446.ef626","56219074.7b8bb8"]]},{"id":"226a44a1.da6bf4","type":"debug","z":"28bf2e22.f4a252","name":"Http debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"314e9931.671cc6","type":"inject","z":"28bf2e22.f4a252","name":"Started!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":180,"y":680,"wires":[["603eedc4.7b1224","56219074.7b8bb8"]]},{"id":"603eedc4.7b1224","type":"debug","z":"28bf2e22.f4a252","name":"Bootstrap door","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":700,"wires":[]},{"id":"56219074.7b8bb8","type":"rpi-gpio out","z":"28bf2e22.f4a252","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":680,"y":640,"wires":[]},{"id":"d09bc98d.3830d","type":"debug","z":"4569edf2.d7bc6c","name":"Trigger change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":140,"wires":[]},{"id":"2dd742ed.a1e3e6","type":"http request","z":"4569edf2.d7bc6c","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/home/gate","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":140,"wires":[["d09bc98d.3830d"]]},{"id":"16542044.6ab95","type":"inject","z":"4569edf2.d7bc6c","name":"Home gate change","props":[{"p":"payload"},{"p":"headers","v":"{\"Authorization\":\"Basic Y2FsaW46dWlvNTZydHk=\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"home\":{\"gate\":\"change\"}}","payloadType":"json","x":150,"y":140,"wires":[["2dd742ed.a1e3e6"]]},{"id":"b67283e3.a8c1d","type":"inject","z":"4569edf2.d7bc6c","name":"Query Home State","props":[{"p":"payload"},{"p":"headers","v":"{\"Authorization\":\"Basic Y2FsaW46dWlvNTZydHk=\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"query\"}","payloadType":"json","x":150,"y":60,"wires":[["2e020a74.ef8e5e"]]},{"id":"2e020a74.ef8e5e","type":"http request","z":"4569edf2.d7bc6c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/home/state","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":60,"wires":[["e6bd02ad.cd578"]]},{"id":"e6bd02ad.cd578","type":"debug","z":"4569edf2.d7bc6c","name":"Home State Query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"5210bfc4.ad6158","type":"debug","z":"4569edf2.d7bc6c","name":"Trigger change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":220,"wires":[]},{"id":"b85ce432.8d5888","type":"http request","z":"4569edf2.d7bc6c","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/home/door","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":220,"wires":[["5210bfc4.ad6158"]]},{"id":"3c5778a.27d5b08","type":"inject","z":"4569edf2.d7bc6c","name":"Home door change","props":[{"p":"payload"},{"p":"headers","v":"{\"Authorization\":\"Basic Y2FsaW46dWlvNTZydHk=\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"home\":{\"door\":\"change\"}}","payloadType":"json","x":150,"y":220,"wires":[["b85ce432.8d5888"]]}]